body {
  font-family: "Tenor Sans", sans-serif;
}

.weather-app {
  width: 70%;
  margin: 100px auto;
}
.main-content {
  padding: 0;
  position: relative;
  min-height: 500px;
}

.main-content:before {
  content: "";
  background-image: url(../img/clear-sky-big.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}
.content {
  width: 100%;

  padding: 30px;
}
.search form {
  float: right;
  vertical-align: middle;
}
.forcast {
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.forcast img {
  width: 100%;
}
.current {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.4);
}
.current img {
  max-width: 120px;
  margin: auto;
  display: block;
  opacity: 1;
}
.current p {
  margin-bottom: 0;
  font-size: 20px;
}
.future {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.3);
}
.future-item span {
  text-align: center;
  /*display: block;*/
}
.future-item .day {
  display: block;
}
.future-item img {
  max-width: 80px;
  display: block;
  margin: auto;
  opacity: 1;
}
.future-item p {
  text-align: center;
}

.unit {
  text-decoration: none;
  font-size: smaller;
}

.source {
  margin: 5px;
}

.source a {
  text-decoration: none;
}
